# https://github.com/gf3/dotfiles

[user]
	name = Alessandro Menduni
	email = alessandro.menduni@host.it

[alias]
    ad = add
    br = branch
    cm = commit -m
    co = checkout
    l = log --name-status
    lo = log --oneline -n 15
    los = log --pretty=format:'%C(bold red)%h%Creset -%C(italic yellow)%d%Creset%C(bold white) %s -%Creset%C(blue) <%an>%Creset' --abbrev-commit
    st = status
    up = pull --rebase
    p = push

[push]
    default = current
    
[core]
	editor = nano
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/alessandromenduni/.gitignore
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
